wheel
aenum
aiohttp
aiofiles
async-timeout
attrs
baseconvert
beautifulsoup4
bs4
certifi
chardet
click
docopt
fbchat-asyncio
gTTS
gTTS-token
idna
multidict
passlib
Pillow
PyYAML
requests
schedule
six
soupsieve
transitions
tulir-hbmqtt
urllib3
websockets
yarl
cloudscraper
