name: Validate gradle wrapper

on:
  push:
    branches: [ main ]
    paths: [ gradle/wrapper/gradle-wrapper.jar ]
  pull_request:
    paths: [ gradle/wrapper/gradle-wrapper.jar ]

jobs:
  validate-wrapper:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Validate wrapper
        uses: gradle/actions/wrapper-validation@v5
